<!-- One -->
<section id="{{ .section.section_id }}" class="wrapper">
    <div class="inner">
        <ul class="features">
            {{ range $feature := .section.features }}
                <li>
                    <h3{{ if $feature.icon.enabled }} class="icon {{ $feature.icon.style }} {{ $feature.icon.icon }}"{{ end }}>{{ $feature.title }}</h3>
                    {{ partial "markdownify-block" $feature.description }}
                </li>
            {{ end }}
        </ul>
    </div>
</section>
