<!-- Three -->
<section id="{{ .section.section_id }}" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>{{ .section.title }}</h2>
            {{ partial "markdownify-block" .section.subtitle }}
        </header>
        <div class="posts">
            {{ range $post := (where ((.Site.GetPage "section" "/posts").Pages) "Params.show_in_home_posts" true).ByDate.Reverse }}
                <section class="post">
                    {{ if $post.Params.alt_img }}
                        <a href="{{ $post.URL }}" class="image"><img src="{{ $post.Params.alt_img | relURL }}" alt="" /></a>
                    {{ end }}
                    <div class="content">
                        <h3>{{ $post.Title }}</h3>
                        {{ partial "markdownify-block" $post.Params.excerpt }}
                        <a href="{{ $post.URL }}" class="button">More</a>
                    </div>
                </section>
            {{ end }}
        </div>
    </div>
</section>
